Options +FollowSymLinks

RewriteEngine On
Options -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
# RewriteRule ^(.*)/(.*)$ index.php?action=$1&id=$2 [L,QSA]